header#main-header {
    width: 100%;
    height: 100px;
    background: #3F00BF;
    font-size: 30px;
    font-weight: bold;
    color: #FFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



.carrinho-total img{
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

.carrinho-total {
    position: absolute; right: 100px;
    width: 50px;
    margin-left: 500px;
}

.logo-aka img{
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

.logo-aka { 
    width: 120px;
    margin-top: 5px;
    margin-left: 5px;
}

.elipse-aka {
    width: 75px;
    margin-top: 5px;
    margin-left: 20px;
}

.elipse-aka img{
    animation: elipse-aka-spin infinite 20s linear;
    pointer-events: none;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

@keyframes elipse-aka-spin {
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (max-width:640px) {
    .carrinho-total{
        right: 20px;
    }
}
@media (max-width:430px) {
    .elipse-aka{
        width: 50px;
    }
    .logo-aka {
        width: 80px;
    }
    .carrinho-total {
        width: 25px;
    }
}